{% extends "base.html" %}
{% block title %}
  password reset confirm
{% endblock title %}

{% block content %}
<style>
    form-input{
        width:100% !important;
        border-radius: .2rem;
    }
</style>
  <div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card ">
                <div class="card-header display-6 text-center bg-dark text-white">Enter New Password</div>
                <div class="card-body">
                    <p class="lead">
                        please enter your new password twice so that we can verify you typed it in correctly...
                    </p>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form}}
                    </form>
                    <div class="d-grid my-2">
                        <button type="submit" class="btn btn-dark">Change my password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock content %}